<%= form_for(@value_inquiry) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%= f.hidden_field :market_price, value: @latest_price %>

<table>
	<tr>
		<td><div class="field inline">
			<%= f.label :"Gold Purity in Karats"%>
			<%= f.collection_select(:karat, karat_list_holder, :last, :first)%>
			<%= f.label :"Gold Weight"%>
			<%= f.text_field :weight, placeholder: "Enter Gold Weight in Grams", type: "number"  %>
			<br/><br/>
			<span> Gold Price is $<%=@latest_price%>/Troy ounce as of <%=@latest_date%></span>
			<br/>
		</div></td>
		<td><a href="http://www.goldline.com/gold-prices-charts" title="Gold Prices"><img src="http://www.goldline.com/widgets/?metal=gold&size=lg" border="0" target="_blank" title="Gold Prices Chart" alt="Gold Prices Chart"></a>
		</td>
	</tr>
</table>

<%= f.submit "Submit & Save Inquiry", class: "btn btn-large btn-primary" %>
<% end %>